.info{
    width: 25px; height: 25px;
}



aside{
    float:right;
    border: white solid 5px;
    padding: 5px;
}

body{
    background-color:lightgray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:black;
    font-size: small;
}
