.info{
    width: 25px; height: 25px;
}

aside{
    float:right;
    border: white solid 5px;
    padding: 5px;
}

body{
    background-color: rgb(121, 73, 73);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: small;
}
